.repoItem {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: var(--tile_bg);
    transition-duration: 0.3s;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 10px;
}

.dropdown-item:hover {
    background-color: var(--dropdown_hover_bg);
    color: var(--dropdown_hover_text_color);
    cursor: pointer;
}

#myRepos::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
    border-radius: 200px;
    margin-top: 0px;
    margin-bottom: 10px;
}